* {
    box-sizing: border-box;
}

p, h1, ul {
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: clamp(150px, 25vh, 350px) 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    font-family: sans-serif;
}

.icon {
    width: var(--icon-w-h);
    height: var(--icon-w-h);
    fill: var(--icon-color, black);
}

.profile-img {
    width: var(--prof-img-w-h);
    height: var(--prof-img-w-h);
    border-radius: 50%;
}

header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: .5em 3em;
    font-weight: bold;
    row-gap: 1rem;
    column-gap: 10rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.search-bar {
    --icon-w-h: 2em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 1fr;
    align-items: center;
    justify-items: end;
    gap: 1em;
}

.search-bar input {
    width: 100%;
    padding-left: 1rem;
    font-size: 1em;
    height: var(--icon-w-h);
    border-radius: 1em;
    background-color: #e2e8f0;
    border: none;
}

.profile-actions {
    --icon-w-h: 2rem;
    --prof-img-w-h: 3rem;
    
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    font-size: 1.3rem;
}

.user-greeting {
    --prof-img-w-h: 4rem;

    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 0.2rem 1rem;

    font-size: 1.7rem;
}

.user-greeting .ph-profile-img {
    align-self: center;
}

.user-greeting .greeting-text {
    align-self: end;
    font-size: 0.6em;
}

.content-actions {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    align-items: center;
}

.content-actions > button {
    font: inherit;
    width: 7rem;
    height: max-content;
    border-radius: 2em;
    border: none;
    padding: .7em 1.8em;
    background-color: #1992d4;
    color: white;
}

nav {
    --icon-space: 3rem;
    --icon-text-gap: .5rem;
    --icon-w-h: 1.2em;
    --icon-color: white;

    grid-area: sidebar;
    background-color: #1992d4;
    z-index: 2;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    display: grid;
    grid-auto-rows: max-content;
    gap: 3rem;
    align-items: start;
}

nav > ul {
    display: grid;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
}

nav li {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--icon-space) 1fr;
    justify-content: start;
    align-items: center;
    column-gap: var(--icon-text-gap);
}

nav li > .icon {
    justify-self: center;
}

nav li > a {
    text-decoration: none;
    color: inherit;
}

nav li > a:hover {
    text-decoration: underline;
}

nav > .sidebar-heading {
    --icon-w-h: var(--icon-space);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 1fr;
    column-gap: var(--icon-text-gap);
    align-items: center;
}

main {
    grid-area: main;
    background-color: #e2e8f0;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 1rem;
    gap: 1rem;
}

.proj-card {
    --icon-w-h: 2rem;
    background-color: #fff;
    padding: 2rem 1.5rem 2rem 1rem;
    border-radius: 0.5rem;
    border-left: 0.5rem outset #f0b429;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr repeat(2, auto);
    column-gap: 2rem;
    font-size: 1rem;
}

.proj-card > h1 {
    font-size: 1.2em;
    grid-area: 1 / 1 / 2 / -1;
}

.proj-card > p {
    grid-area: 2 / 1 / 3 / -1;
    line-height: 1.3;
    color: #555
}

.proj-card > .icon {
    justify-self: end;
}

.proj-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: max-content;
    justify-items: center;
    gap: 1rem;
}

.m-sect {
    display: grid;
    gap: 0.7em;
    grid-template-rows: max-content;
}

.m-sect-heading {
    grid-column: 1 / -1;
    font-weight: bold;
    font-size: 1.7em;
    justify-self: start;
}

#m-proj-sect {
    grid-row: 1 / -1;
}

.announce-card {
    --gap: 3em;

    background-color: white;
    padding: 2.5em;
    border-radius: 0.5em;
    font-size: 0.7em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    display: grid;
    gap: var(--gap);
}

.announce-entry > h1 {
    font-size: 1.2em;
    margin-bottom: .2em;
}

.announce-entry:nth-child(n+2)::before {
    content: "";
    position: relative;
    display: block;
    border-top: 2px solid #ccc;

    width: 106%;
    left: -3%;
    top: calc(var(--gap) / -2);
}


.trending-card {
    --prof-img-w-h: 3em;

    background-color: #fff;
    border-radius: 0.5em;
    padding: 1.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(4, auto);
    align-items: center;
    column-gap: 1.5em;
    row-gap: 1.5em;
}

.user-info > .username {
    font-weight: bold;
    margin-bottom: 0.2em;
}