* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    font-family: sans-serif;
}

.ph-icon {
    width: var(--icon-w-h);
    height: var(--icon-w-h);
    background-color: black;
}

.ph-profile-img {
    width: var(--prof-img-w-h);
    height: var(--prof-img-w-h);
    background-color: teal;
    border-radius: 50%;
}

header {
    grid-area: header;
    background-color: khaki;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1em 3em;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10% 1fr;
    --icon-w-h: 2em;
    align-items: center;
    justify-items: end;
    gap: 1em;
}

.search-bar input {
    width: 100%;
    font-size: 1em;
    height: var(--icon-w-h);
    border-radius: 1em;
    background-color: #e2e8f0;
    border: none;
}

.profile-actions {
    --icon-w-h: 2rem;
    --prof-img-w-h: 3rem;
    
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.user-greeting {
    --prof-img-w-h: 5rem;

    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    gap: 0.2rem 1rem;
    grid-template-areas: 
        "img greeting"
        "img username";

    font-weight: bold;
    font-size: 1.7rem;
}

.user-greeting .ph-profile-img {
    grid-area: img;
    align-self: center;
}

.user-greeting .greeting-text {
    align-self: end;
    font-size: 0.6em;
}

header > div {
    border: 1px solid black;
}

nav {
    grid-area: sidebar;
    background-color: lightcoral;
}


main {
    grid-area: main;
    background-color: lightgreen;
}